@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.outer-conatiner {
    background-color: #3B4664;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.screen {
    background-color: #181F32;
    width: 53.6rem;
    height: 14.2rem;
    border-radius: 1rem;
    color: wheat;
    font-family: Segoe UI;
    font-size: 5.5rem;
    font-weight: 700;
    text-align: right;
    padding: 5rem 3rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}

.keypad {
    background-color: #181F32;
    width: 53.6rem;
    height: 48.7rem;
    margin-top: 2.6rem;
    padding: 4.8rem 3.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

}

/*fonts*/
.key,
.reset,
.del,
.equal {
    font-family: Inter;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    border-radius: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;

}

/*backgroung color and span*/
.key {
    background-color: #EAE3DB;
    color: #3B4664;
}

.reset {
    grid-column: span 2;
    color: white;
    background-color: #D13F30;
}

.equal {
    grid-column: span 2;
    color: white;
    background-color: #647299;
}

.del {
    background-color: #647299;
    color: white;
}

button:hover{
    transform: translateX(5px);
    box-shadow: 0 6px 20px hsla(48, 97%, 45%, 0.6);

}

button:active{
    transform: translateX(5px);
    box-shadow: 0 6px 20px hsla(62, 98%, 49%, 0.9);
}