@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@700&family=Roboto:wght@400;500&display=swap');



html, body {
    font-size: 9px;
    margin: 0;
    padding: 0;
  }

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.header {
    background-color: #6F6AF7;
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12.7rem;
    position: fixed; 
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.nav {
    display: flex;
}

.nav img {
    width: auto;  
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 4rem;
    font-size: 2rem;
    font-family: DM Sans;
    font-size: 3.643rem;
    font-weight: 400;
    line-height: 4.743rem;
    text-align: left;
}
.Menu-image{
    margin-right: 2rem;
}

.search-box {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.outermost-container{
/* width: 154.2rem; */
width: 90%;
height: 169.5rem;
margin-left: 9.3rem ;
margin-right: 9.3rem ;
margin-top: 28.9rem;
margin-bottom: 20rem;
display: flex;
flex-direction: column;
}



.top-container {
    width: 100%;
    height: 50.7rem;
    display: flex;
}

.middle-container {
    width: 100%;
    height: 14.5rem;
    margin-top: 13.7rem;
    margin-bottom: 18.9rem;
    display: flex;
    justify-content: space-between;
}

.stat-box {
    width: 33.7rem;
    height: 14.548rem;
    border-radius: 1.1rem;
    padding: 2.8rem;
    box-shadow: 0rem 0.9rem 3.1rem 0rem #00000066;
    font-family: DM Sans;
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 5.182rem;
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.bottom-container {
    width: 154.2rem;
    height: 71.7rem;
    border-radius: 2.1rem;
    display: flex;
    justify-content: space-evenly;
    background: rgba(72, 62, 255, 1);
}

.btns {
    width: 49.7rem;
    background: rgba(72, 62, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
}

.btn {
    width: 39.7rem;
    height: 13.3rem;
    border-radius: 22px;
    background: rgba(72, 62, 255, 1);
    font-family: DM Sans;
    font-size: 29px;
    font-weight: 700;
    line-height: 13.3rem;
    letter-spacing: 0.04em;
    text-align: center;
    color: white;
    border: white 0.5rem solid;
}

.next-btn-container {
    height: 15rem;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.nxt-btn {
    width: 20.7rem;
    height: 7.8rem;
    border-radius: 0.9rem;
    background: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.813rem;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    margin-right: 5.3rem;
}

.contact-info {
    width: 100.4rem;
    height: 65.6rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.9rem;
    color: rgba(4, 40, 90, 1);
}

.info {
    height: 50.6rem;
}

.info p {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 20px 0; /* Add vertical margin */
}

.info > h2 {
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    line-height: 45.99px;
    letter-spacing: 0.105em;
    text-align: left;
    padding-top: 7.2rem;
    padding-left: 5.4rem;
    margin-bottom: 20px; /* Ensure separation from paragraphs */
}
.contact-info span {
    font-family: Roboto;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 4.281rem;
    letter-spacing: 0.105em;
    text-align: left;
    padding-left: 8.4rem;
}

.code-image {
    width: 32%;
    height: 50.7rem;
    margin-left: 2.8rem;
    margin-right: 4.9rem;
}

.code-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: inherit; 
    border-radius: 2rem;
}

.image-side-content {
    box-sizing: border-box;
    width: 68%;
    height: 50.7rem;
    margin-right: 3.7rem;
    gap: 0rem;
    border-radius: 2rem;
    padding: 2.8rem;
    background: #E5D8FF;
    font-family: DM Sans;
    font-size: 2.9rem;
    font-weight: 400;
    line-height: 5.182rem;
    text-align: left;
    color: #6F7373;
}

.chat-img {
    position: fixed;
    right: 6rem;
    bottom: 0rem;
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 100%;
    object-fit: cover; 
}
.sticky-div {
   
    position: sticky;
    float: right;
    top: 16rem; 
    margin-top: 15rem; 
    z-index: 1000; 
    

}
.social-icons {
    width: 7rem; /* Adjust the width as needed */
    height: auto; /* Maintains aspect ratio */
    object-fit: contain; /* Ensures the image scales nicely */
}
